* {
  box-sizing: border-box;
}
.box {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: blue;
  padding: 10px;
  border: 6px solid black;
  margin: 10px;
}

.box:nth-child(even) {
  background-color: red;
}
